.container {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    border: none;
    padding: 15px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}